In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv(r"C:\Users\adisk\Downloads\archive\heart.csv")

In [3]:
## Displaying 5 samples
df.head(5)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
## Dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [5]:
## Data Statistics
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [6]:
## check for null values
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [7]:
## Duplicate value check
df.duplicated().sum()

0

In [8]:
## Check for unique values
df.nunique()

Age                50
Sex                 2
ChestPainType       4
RestingBP          67
Cholesterol       222
FastingBS           2
RestingECG          3
MaxHR             119
ExerciseAngina      2
Oldpeak            53
ST_Slope            3
HeartDisease        2
dtype: int64

In [9]:
## Categorical Col
categorical_columns=df.select_dtypes(include='object').columns
print(categorical_columns)

Index(['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope'], dtype='object')

In [10]:
 l_e=LabelEncoder()

In [11]:
## Label Encoding
for col in categorical_columns:
    df[col]=l_e.fit_transform(df[col])

In [12]:
df.tail(50)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
868,51,1,2,110,175,0,1,123,0,0.6,2,0
869,59,1,2,150,212,1,1,157,0,1.6,2,0
870,71,0,1,160,302,0,1,162,0,0.4,2,0
871,61,1,2,150,243,1,1,137,1,1.0,1,0
872,55,1,0,132,353,0,1,132,1,1.2,1,1
873,64,1,2,140,335,0,1,158,0,0.0,2,1
874,43,1,0,150,247,0,1,171,0,1.5,2,0
875,58,0,2,120,340,0,1,172,0,0.0,2,0
876,60,1,0,130,206,0,0,132,1,2.4,1,1
877,58,1,1,120,284,0,0,160,0,1.8,1,1
878,49,1,1,130,266,0,1,171,0,0.6,2,0
879,48,1,1,110,229,0,1,168,0,1.0,0,1
880,52,1,2,172,199,1,1,162,0,0.5,2,0
881,44,1,1,120,263,0,1,173,0,0.0,2,0
882,56,0,1,140,294,0,0,153,0,1.3,1,0
883,57,1,0,140,192,0,1,148,0,0.4,1,0
884,67,1,0,160,286,0,0,108,1,1.5,1,1
885,53,0,2,128,216,0,0,115,0,0.0,2,0
886,52,1,2,138,223,0,1,169,0,0.0,2,0
887,43,1,0,132,247,1,0,143,1,0.1,1,1
888,52,1,0,128,204,1,1,156,1,1.0,1,1
889,59,1,3,134,204,0,1,162,0,0.8,2,1
890,64,1,3,170,227,0,0,155,0,0.6,1,0
891,66,0,2,146,278,0,0,152,0,0.0,1,0
892,39,0,2,138,220,0,1,152,0,0.0,1,0
893,57,1,1,154,232,0,0,164,0,0.0,2,1
894,58,0,0,130,197,0,1,131,0,0.6,1,0
895,57,1,0,110,335,0,1,143,1,3.0,1,1
896,47,1,2,130,253,0,1,179,0,0.0,2,0
897,55,0,0,128,205,0,2,130,1,2.0,1,1
898,35,1,1,122,192,0,1,174,0,0.0,2,0
899,61,1,0,148,203,0,1,161,0,0.0,2,1
900,58,1,0,114,318,0,2,140,0,4.4,0,1
901,58,0,0,170,225,1,0,146,1,2.8,1,1
902,58,1,1,125,220,0,1,144,0,0.4,1,0
903,56,1,1,130,221,0,0,163,0,0.0,2,0
904,56,1,1,120,240,0,1,169,0,0.0,0,0
905,67,1,2,152,212,0,0,150,0,0.8,1,1
906,55,0,1,132,342,0,1,166,0,1.2,2,0
907,44,1,0,120,169,0,1,144,1,2.8,0,1
908,63,1,0,140,187,0,0,144,1,4.0,2,1
909,63,0,0,124,197,0,1,136,1,0.0,1,1
910,41,1,1,120,157,0,1,182,0,0.0,2,0
911,59,1,0,164,176,1,0,90,0,1.0,1,1
912,57,0,0,140,241,0,1,123,1,0.2,1,1
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

In [13]:
## Replace 0 cholesterol with mean
df['Cholesterol'].replace(0,df['Cholesterol'].mean(),inplace=True)

In [14]:
df['Cholesterol'].value_counts()

198.799564    172
254.000000     11
223.000000     10
220.000000     10
230.000000      9
             ...
392.000000      1
316.000000      1
153.000000      1
466.000000      1
131.000000      1
Name: Cholesterol, Length: 222, dtype: int64

In [15]:
df['RestingBP'].value_counts()

120    132
130    118
140    107
110     58
150     55
      ...
185      1
98       1
92       1
113      1
164      1
Name: RestingBP, Length: 67, dtype: int64

In [21]:
df['RestingBP'].replace(0,df['RestingBP'].mean(),inplace=True)

In [30]:
## convert to int
df['RestingBP']=df['RestingBP'].astype(int)
df['Cholesterol']=df['Cholesterol'].astype(int)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    int32
 2   ChestPainType   918 non-null    int32
 3   RestingBP       918 non-null    int32
 4   Cholesterol     918 non-null    int32
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    int32
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    int32
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    int32
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int32(7), int64(4)
memory usage: 61.1 KB

In [34]:
df.to_csv(r"C:\Users\adisk\Downloads\archive\cleaned.csv",index=False)